<?xml version="1.0" encoding="utf-8" ?>
<wep-app>
	<!-- 서블릿 S -->
	<!-- 게시판 작성 S -->
	<servlet>
		<servlet-name>Blog_PostWrite</servlet-name>
		<Servlet-class>com.controller.WriteController</Servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blog_PostWrite</servlet-name>
		<url-pattern>/blog/postwrite</url-pattern>
	</servlet-mapping>
	<!-- 게시판 작성 E -->
	
	
	<!-- 서블릿 E -->
</wep-app>