@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
   font-size: 20px;
}

dl,
dt,
dd {
  list-style-type: none;
  margin: 0;
}
